.Home {
    display: flex; 
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
}

.Home > div {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.Home > div > span {
    font-weight: 700;
}